* { margin:0; padding:0; }

html, body { width:100vw; height:100vh; } /* just to be sure these are full screen*/

canvas { 
  overflow: hidden;
   width:100vw;
   height:100vh;
   background-color:black;
}

#text{
    user-select: none;
    margin: 100px;
    position: absolute;
    justify-content: center;
    color: white;
}


