body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

label {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3b5998; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#header {
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

#container {
    display: flex;
    margin: 20px;
}

#sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

#content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}


#remove-style {
    display: none; 
}


#remove-style:checked ~ #header,
#remove-style:checked ~ #container {
    all: unset;
}
